header h1 {
    font-family: 'Gameplay';
    font-size: 72px;
}

.highlight {
    color: #f2a365;
}

.title {
    text-align: center;

}

header {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Gameplay';
    min-height: 100vh;
    background-color: #222831;
    color: #ececec;
}

header * {
    padding: 0;
    margin: 0;
}

header h2 {
    font-size: 36px;
    margin: 20px 0px 50px 0px;
}

body {
    margin: 0;

    height: 100%;
}

.header-button {
    border: 5px solid #374254;
    margin: 30px;
    padding: 10px;
    transition: background-color 0.1s linear;
}

.header-button:hover {
    background-color: #374254;
    cursor: pointer;
}

header .header_container {
    padding-top: 225px;
}

header a {
	color: #ececec;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;

    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
}

a {
	color:#000000;
	text-decoration: none;
}

.overview {
	text-align: center;
	padding: 20px 0px 50px 0px;

	background-color: #f2a365;

}

.overview h1 {
	font-family: 'Coolvetica';
	color: white;
	font-size: 42px;
}

.overview {
	color:white;
}

#overview {
	color:white;
	letter-spacing: 3px;
	font-weight: 600;
}

.overview p {
	font-family: 'Nyata';
	font-weight: 0;
	font-size: 24px;
	width:60%;
	text-align: center;
	margin:auto;
}

/* Grid */

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	justify-content: center;
	grid-column-gap: 50px;
	padding-top: 30px;
	margin: 0px 50px;
	overflow-x: hidden;
}

.grid-item {
	text-align: center;
}

.grid-item h4 {
	font-family: 'Coolvetica';
	font-size: 22px;
	letter-spacing: 2px;
	color:#212121;
}

.grid-item p {
	font-family: 'Nyata';
	color:#4f4f4f;
	font-size: 18px;
}

.dark-highlight {
	color:#222831;
	padding: 10px;
}

.nav-contact {
	color: #ececec;
	font-family: 'Gameplay';
	margin-left: 30px;
	float: right;
	border: 5px solid #374254;
	padding:10px;
	
	transition: background-color 0.1s linear;
	font-size: 16px;
}

.nav {
	padding: 30px 30px 0px 0px;
	background-color: #222831;
}

.nav-contact:hover {
	background-color: #374254;
	cursor: pointer;
}

body {
	position: relative;
}